- @title = @game.title

.left
  %h1= @game.title

  - if @game.matched?
    %h2
      Players:
  
    %ul
      - @players.each do |player|
        %li{ :class => player.dead? ? 'dead' : '' }
          = player.name
    
    %h2 Player Tree
    
    .player-tree-container
      %a.show-player-tree{:href => 'javascript:'} Show Player Tree
    
      .player-tree.hidden= display_player_tree
    
    %h2
      Kills

    %ul
      - @kills.each do |kill|
        %li= kill

    %p.top
      %a.log-kill-link{ :href => 'javascript:' } Log Kill
    
    .log-kill.hidden
      - form_for :kill, :url => new_kill_url do |k|
        %label Killer:
        = k.select("player_id", @players.not_dead.collect {|p| [ p.name, p.id ] })
      
        %label Target:
        = k.select("target_id", @players.not_dead.collect {|p| [ p.name, p.id ] })
      
        %input{:type => 'submit'}
  - else
    %p Players are still being matched for this game. Please refresh this page.


.right.top
  = render :partial => 'layouts/sidemenu'